@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'NEXT ART';
  src: url('./assets/fonts/NEXTART_Light.otf');
}

@font-face {
  font-family: 'NEXT ART semi';
  src: url('./assets/fonts/NEXT\ ART_SemiBold.otf');
}


.carousel-image {
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }
  
  .carousel-image.fade {
    opacity: 1;
  }